body {
	background-image: url("../images/77H.jpg");
	background-size: cover;
	background-position:  5 center;
	background-repeat: no-repeat;
	text-align: center;
}
h2 {
	background-color: rgba(160, 160, 160, .3);
	position: absolute;
	top: 5%;
	left: 10%;
	font-size: 1.25em;
	border-radius: 50%;
	color: rgba(255, 255, 255, .9);
	padding: .5em;
	border: .1em solid;
	border-color: rgba(255, 255, 255, .4);;
	font-size: 1.25em;
}